
<div class="home">
    <div class="header">
        <p>
          The easiest way to find a RECOmendation
        </p>
      </div>
    <ul class='circle-container'>
      <li>
          <a  (click)="recoger()" [routerLink]="['/recos','Movie']">
          <div class="category movie">
            <img src="../../assets/movie.jpg" alt="">
            </div>
            </a>
      </li>
      <li>
        <a  (click)="recoger()" [routerLink]="['/recos','Anime']">
            <div class="category anime" >
              <img src="../../assets/anime.jpeg" alt="">
            </div>
        </a>
          
      </li>
      <li>
          <a  (click)="recoger()" [routerLink]="['/recos','Music']">
              <div class="category music" >
                <img src="../../assets/music.jpg" alt="">
              </div>
          </a>
            
        </li>
        <li>
            <a  (click)="recoger()" [routerLink]="['/recos','Travel']">
                <div class="category travel" >
                  <img src="../../assets/travel.png" alt="">
                </div>
            </a>
              
          </li>
          <li>
              <a  (click)="recoger()" [routerLink]="['/recos','Util']">
                  <div class="category util" >
                    <img src="../../assets/util.jpg" alt="">
                  </div>
              </a>
                
            </li>
  
  </ul>
</div>