
<div class="home">
    <div class="header">
        <p>
          The easiest way to find a RECOmendation
        </p>
      </div>
    <ul class='circle-container'>
      <li>
          <a  (click)="recoger('Movie')" >
          <div class="category movie">
            <img src="../../assets/movie.png" alt="">
            </div>
            <!--<p class="categoryName">
              Movies
            </p>-->
            </a>
      </li>
      <li>
        <a  (click)="recoger('Anime')" >
            <div class="category anime" >
              <img src="../../assets/anime.jpeg" alt="">
            </div>
        </a>
          
      </li>
      <li>
          <a  (click)="recoger('Music')" >
              <div class="category music" >
                <img src="../../assets/music.jpg" alt="">
              </div>
          </a>
            
        </li>
        <li>
            <a  (click)="recoger('Travel')" >
                <div class="category travel" >
                  <img src="../../assets/travel.png" alt="">
                </div>
            </a>
              
          </li>
          <li>
              <a  (click)="recoger('Other')" >
                  <div class="category other" >
                    <img src="../../assets/other.png" alt="">
                  </div>
              </a>
                
            </li>
  
  </ul>
</div>