#LoginForm {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
  z-index: 1000;
  #Login {
    border: 0;

    .form-control {
      background: transparent;
      border:0;
      border-bottom: 1px solid rgb(121, 113, 113);
      border-radius: 0;
      color:white;

    }
    
  }
  .panel{
      h2{
          color:white;
      }
  }
}

.main-div{
    position:relative;
    width: 350px;
    display:inline-block;
}
.container{
    text-align: center;
}

.login-form{
    text-align: center;
}
button{
    background: rgba(21, 175, 214, 0.267);
    border: 1px solid rgba(137, 43, 226, 0.37);
    width: 350px;
}

::placeholder{
    color:rgb(179, 176, 176);
}