<!--
<div class="newRecoButton">
  New Reco
  <button (click)="toggleHide(0)">
    <i class="fas fa-plus"></i>
  </button>
</div>-->
<div class="newRecoFormDiv ">
  <div class="title">
    <h4>Edit reco</h4>

    <button class="close" (click)="toggleHide(1)">
      <i class="fas fa-times"></i>

    </button>
  </div>

  <form *ngIf="sessionService.user" class="newRecoForm " autocomplete="off">

    <div class="form-group">
      <textarea type="text" class="form-control" [(ngModel)]="content" value="reco.content" name="content" autofocus required> </textarea>

    </div>
    <div class="form-group">
      <label for="cat"> Category
      </label>
      <select type="text" name="cat" class="form-control" #category required>
        <option value="Movie" selected>Movie</option>
        <option value="Anime">Anime</option>
        <option value="Music">Music</option>
        <option value="Travel">Travel</option>
        <option value="Util">Utils</option>


      </select>
    </div>

    <div class="form-group">

      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

    </div>
    <div class="form-group">

      <input type="text" name="video" [(ngModel)]="video" placeholder="Trailer url..." />

    </div>
    <button (click)="editReco(content,category.value,video,reco._id);toggleHide(1)">Add</button>
  </form>
</div>