body {
    color: white;
  }
  .noScroll{
      overflow: hidden
    }
  
  .categories {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .newRecoButton {
    float: right;
    border:1px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
    background: rgb(24, 195, 218);
    

    button{
        background: transparent;
        border:0

    }
  }
  
  .newRecoFormDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left:0;
    background: rgba(0, 0, 0, 0.418);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:10vh;

  
    .title{
        display:flex;
        justify-content: space-between;
        width: 50%;
    }
    .close{
        width: 20px;
        height: 20px;
    }
    h4 {
      position: relative;
      
      color:rgba(3, 232, 248, 0.986);
      
    }
  }
  .newRecoForm {
    position: relative;
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    background: white;
    z-index: 30;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px rgb(195, 44, 241)
  }

  

.media{

  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .videoDiv{
   display:flex;
   justify-content: space-between;
   i{
     font-size:30px;
     color:red;
   }
  }

  .fileDiv{
    display:flex;
    justify-content: center;
    align-content: stretch;
    i{
      font-size:30px;
      color:rgb(0, 195, 255);
    }
  }
  
  > *{
    width: 200px;
  overflow:hidden;
  input{
    width: 100%;
  }
  }
}