<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#" [routerLink]="['/']">RECO</a>
  
    <!--<ul class="navbar-nav  categories">
      <li *ngIf="sessionService.user" class="nav-item">
        <a class="nav-link" [routerLink]="['/recos','Anime']">Anime</a>
      </li>
      <li *ngIf="sessionService.user" class="nav-item">
        <a href="#" class="nav-link" [routerLink]="['/recos','Movie']">Movie</a>
      </li>
    </ul>-->
    
        <div  class="profile" *ngIf="sessionService.user" >
          <app-notifications class="bell" *ngIf="sessionService.user" >Hola</app-notifications>
          <div [routerLink]="['/profile',sessionService.user._id]">
              <img src="{{sessionService.user.picture}}" alt="" >

          </div>

          <a href="#" class="nav-link"  *ngIf="sessionService.user" (click)="sessionService.logout().subscribe()"><i class="fas fa-power-off" style="color:rgb(26, 22, 22)"></i>

          </a>

        </div>
   
      <ul class="logOptions" *ngIf="!sessionService.user">
        
        <li class="nav-item">
          <a [routerLink]="['/signup']" class="nav-link">Signup</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">Login</a>
        </li>
  
      </ul>
    
  </nav>