.navbar {
    background: linear-gradient(
      to right,
      rgb(8, 181, 187),
      rgba(146, 34, 156, 0.986)
    );
    padding-right: 0px;
    padding-left: 40px;
    display:flex;
    justify-content: space-between;
  }
  

.nav-item{
    list-style: none;
    .nav-link{
    color:rgb(24, 22, 22);
    }
}

.navbar-brand {
    color: white;
    font-size: 25px;
  }
  .navbar-toggler {
    border: 1px solid black;
  }
  

  .notificationsIcon{
      color:white;
      font-size: 20px;
  }

  .profile{
      position: relative;
      float: right;
      > *{
          display:inline-block;
          vertical-align: bottom;
      }
      img{
          width: 50px;
          height: 50px;
          border-radius:2px;
          box-shadow: 3px 3px rgba(0, 0, 0, 0.411);
      }
      .bell{
          margin-right:2px;
      }
  }