.navbar {
    background: linear-gradient(
      to right,
      rgb(8, 181, 187),
      rgba(146, 34, 156, 0.986)
    );
    padding-right: 40px;
    padding-left: 40px;

  }
  
.navbar-brand {
    color: white;
    font-size: 25px;
  }
  .navbar-toggler {
    border: 1px solid black;
  }
  