.recos{
    padding:20px;
}
.recos > div{
    margin:10px;
}
.reco{
    border:1px solid black;
    border-radius:5px;
    padding: 5px;
    box-shadow: 5px 5px;
    animation: appear 1s 1
}
.liked{
    background: red;
}

.show{
    opacity: 1 !important;
    }
    .step{
    opacity: 0;
    transition: .5s ease-in-out all;
    }


    @keyframes appear {
        0%{
            opacity: 0; 
         }   
         50% {
            opacity: 0.6; 
        }
        100% {
           opacity: 1; 
        } 
        
      }