.recos {
  padding: 20px;
  text-align: center;
}
.recos > div {
  margin: 10px;
  display:inline-block;
}
.reco:hover{
    box-shadow:  10px 10px 10px  rgba(134, 127, 139, 0.281);

}
.reco {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px rgba(8, 8, 8, 0.507);
  width: 90%;
  max-width: 600px;

  //animation: appear 1s 1
    
  .picture{
      text-align: center;
      margin:0;

      img{
            width: 80%;

          

      }
  }
  .video{
      text-align: center;

      iframe{
          width: 80%;
      }
  }
  .options{

        display:flex;
        justify-content: space-between;
      > *{
          display:inline-block;

          > *{
            margin:2px;
          }
      }
      >:hover{
        color:blueviolet;
      }
  }
}
.liked {
  background: red;
}

.show {
  opacity: 1 !important;
}
.step {
  opacity: 0;
  transition: 0.5s ease-in-out all;
}

button{
    border:0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
