<div class="main">
  <app-sub-menu [category]="category"></app-sub-menu>
  <app-new-reco></app-new-reco>

  <div class="recos">
    <div *ngFor="let reco of recos | categoryFilter :'category':category" class="reco">
      <div class="user" [routerLink]="['/profile',reco.author._id]">
        <img src="{{reco.author.picture}}" alt="">
        <span>{{reco.author.username}}</span>
      </div>
      <p>{{reco.content}}</p>
      <div class="more">
        <i class="fas fa-angle-down" (click)="showMedia($event)"></i>
        <i class="fas fa-angle-up d-none" (click)="showMedia($event)"></i>



      </div>
      <div class="picture d-none" *ngIf="reco.pictures">
        <div class="pic-i">
            <i class="far fa-image"></i>

        </div>

        <img src="{{reco.pictures}}" alt="">

      </div>
      <div *ngIf="reco.video" class="video d-none">
        <div class="video-i">
            <i class="fab fa-youtube"></i>

        </div>
        <iframe src="https://www.youtube.com/embed/UrIbxk7idYA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

      <div class="options">
        <div (click)="likeReco(sessionService.user._id,reco.author._id,reco._id)">
          <span *ngIf="reco.likes.length>0">{{reco.likes.length}}</span>
          <i *ngIf="reco.likes.includes(sessionService.user._id)" class="far fa-star" style="color:orange"></i>
          <i *ngIf="!reco.likes.includes(sessionService.user._id)" class="far fa-star"></i>


        </div>
        <div [routerLink]="['/recos','reco',reco._id]">
          <span *ngIf="reco.replies.length>0">{{reco.replies.length}}</span>

          <i class="far fa-comments"></i>

        </div>
      </div>


    </div>
  </div>
</div>