
.recos {
  padding: 20px;
  text-align: center;
  padding-top:20px;
}
.recos > div {
  margin: 10px;
  display:inline-block;
}
.reco:hover{
    box-shadow:  10px 10px 10px  rgba(8, 8, 8, 0.507);

}
.reco {
  border-bottom: 1px solid rgba(70, 64, 64, 0.342);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px 2px rgba(134, 127, 139, 0.281);
  width: 100%;
  max-width: 610px;

  //animation: appear 1s 1
    
  .more{
    font-size:22px;
    color:blueviolet
  }
  .picture{
    display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0;
      
    .pic-i{
      width: 80%;
      text-align: left;
    }
    
      img{
            width: 80%;

          

      }
  }
  
  .user{
    text-align: left;
    color:rgb(14, 189, 212);
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }
    span:hover{
      color:rgb(91, 221, 238);
      
    }
  }
  
  .video{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
      iframe{
          width: 80%;
      }
      .video-i{
        width: 80%;
        text-align: left;
      }
  }
  .options{

        display:flex;
        justify-content: space-between;
      > *{
          display:inline-block;

          > *{
            margin:2px;
          }
      }
      >:hover{
        color:blueviolet;
      }
  }
}
.liked {
  background: red;
}

.show {
  opacity: 1 !important;
}
.step {
  opacity: 0;
  transition: 0.5s ease-in-out all;
}

button{
    border:0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
