<div *ngIf="!sessionService.user" id="LoginForm">
    <div class="container">
  
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2> Sign Up</h2>
       </div>
       <p style="color:rgb(151, 14, 14)">{{sessionService.message}}</p>

        <form id="Login">
    
            <div class="form-group">
    
    
                <input type="text" class="form-control" [(ngModel)]="usernameS"  name="username" placeholder="Username">
    
            </div>
    
            <div class="form-group">
    
                <input type="password" class="form-control"  [(ngModel)]="passwordS" name="password" id="inputPassword" placeholder="Password">
    
            </div>
            <div class="form-group">
    
                <input type="text" class="form-control"  [(ngModel)]="email"  name="email" placeholder="Email">
    
            </div>
            <div class="form-group">
    
                    <input type="text" class="form-control"  [(ngModel)]="name"  name="name" placeholder="Name">
        
                </div>
                
            
            <div class="forgot">
    </div>
            <button (click)="sessionService.signup(usernameS,passwordS,email,name).subscribe()" class="btn btn-primary">Sign Up !</button>
    
        </form>
        </div>
    </div></div>
</div>

    
    
